@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { * { box-sizing: border-box; } body { @apply bg-[#fffaf5] text-stone-800; } button { @apply transition; } }

@media (max-width: 639px) {
  main { padding-left: 1rem !important; padding-right: 1rem !important; }
  main > section + section { margin-top: 1rem !important; }
}
